<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit 1 </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit 2 </p>
<lo>
<li> Hola1 </li>
<li> Hola2 </li>
<li> Hola3 </li>
<li> Hola4 </li>
<li> Hola5 </li>
</lo>
<p style= "background: #00FF00; color: white;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit 1 </p>
<p style= "background: #00FF00; color: white;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit 2 </p>
